.photo__grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
  margin: 118px auto 0;
  justify-content: center;
}
.photo__image {
  max-width: 284px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo__grid {
    grid-template-columns: repeat(2, 352px);
    margin: 64px auto 0;
  }
  .photo__image {
    max-width: 352px;
  }
}
@media screen and (max-width: 544px) {
  .photo__grid {
    grid-template-columns: 288px;
    margin: 38px auto 0;
    gap: 12px;
  }
  .photo__image {
    max-width: 288px;
  }
}
